<div class="text-light">
  
  <div class="btn-group video-nav">
    
      <ul class="nav nav-tabs nav-tabs-justified nav-fill nav-" style="width: 100%">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[{outlets: {sub: ['player']}}]" routerLinkActive="active" >Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[{outlets: {sub: ['list']}}]" routerLinkActive="active" >Alle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[{outlets: {sub: ['create']}}]" routerLinkActive="active" >Opret</a>
          </li>
        </ul>
    
    <!-- <div class="tab">
      <button class="btn btn-outline-light" [routerLink]="[{outlets: {sub: ['player']}}]">Player</button>
    </div>
    <div class="tab">
      <button class="btn btn-outline-light" [routerLink]="[{outlets: {sub: ['list']}}]">List</button>
    </div>
    <div class="tab">
      <button class="btn btn-outline-light" [routerLink]="[{outlets: {sub: ['create']}}]">Create Form</button>
    </div> -->
  </div>
</div>
