/*Menu stuff */

a, a:not([href]):not([tabindex]) {
    color: rgb(112, 112, 112);
}

.nav-tabs  {
    background-color: black;
    border-color: transparent;
    border-bottom-color: rgb(255, 217, 0);
    
}

.nav-link.active {
    background-color: black;
    border-color: rgb(255, 217, 0);;
    border-bottom-color: black !important;
    color: rgb(255, 217, 0) !important;
}

.nav-tabs .nav-link {
    border-top-left-radius: .50rem;
    border-top-right-radius: .50rem;
}

.nav-link:hover {
    border-color: rgb(255, 217, 0);;
  
}




/* .video-nav {
    margin: 2.2em 0 0 6em;
}

@media (min-width: 460px) {
    .video-nav {
        margin: 2em 0 2em 0;
        width: 100%;
       
    }
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    background-color: black;
    border-color: transparent;
    border-bottom-color: rgb(255, 217, 0);
    
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: black;
    border-color: rgb(255, 217, 0);
    border-bottom-color: black !important;
    color: rgb(255, 217, 0);
}

.nav-tabs .nav-link {
    border-top-left-radius: .50rem;
    border-top-right-radius: .50rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgb(255, 217, 0);
  
}

a {
    color: rgb(112, 112, 112)
} */