/*Menu stuff */

a, a:not([href]):not([tabindex]) {
    color: rgb(112, 112, 112);
}

.nav-tabs  {
    background-color: black;
    border-color: transparent;
    border-bottom-color: rgb(255, 0, 200);;
    
}

.nav-link.active {
    background-color: black;
    border-color: rgb(255, 0, 200);;
    border-bottom-color: black !important;
    color: rgb(255, 0, 200) !important;
}

.nav-tabs .nav-link {
    border-top-left-radius: .50rem;
    border-top-right-radius: .50rem;
}

.nav-link:hover {
    border-color: rgb(255, 0, 200);;
  
}