

.menu-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: rgb(112, 112, 112);
}

@media (min-height: 900px) {
    .menu-container {
        height: 60%;
    }
}

.menu-item {
    outline: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}



.menu-item fa-icon {
    font-size: 2em;
    display:inline;
    
}

#search:hover, .searchActive {
    color: rgb(255, 36, 36);
}

#video:hover, .videoActive {
    color: rgb(255, 217, 0);
}

#edit:hover, .editActive {
    color: rgb(123, 255, 0);
}

#user:hover, .userActive {
    color: rgb(255, 0, 200);
}

#signin:hover, .signinActive {
    color: rgb(17, 0, 255);
}

