/*Menu stuff */
.nav-tabs  {
    background-color: black;
    border-color: transparent;
    border-bottom-color: rgb(123, 255, 0);
    
}

.nav-link.active {
    background-color: black;
    border-color: rgb(123, 255, 0);
    border-bottom-color: black !important;
    color: rgb(123, 255, 0);
}

.nav-tabs .nav-link {
    border-top-left-radius: .50rem;
    border-top-right-radius: .50rem;
}

.nav-link:hover {
    border-color: rgb(123, 255, 0);
  
}

a {
    color: rgb(112, 112, 112)
}