<p class="text-light">
  Name: {{ course.title  }}
  <br>
  shortDescription: {{ course.shortDescription  }}
  <br>
  longDescription: {{ course.longDescription  }}
  <br>
  duration: {{ course.duration  }}
  <br>
  author: {{ course.author  }}
  <br>
  level: {{ course.level  }}
  <br>
  githubUrl: {{ course.githubUrl  }}
  <br>
  posterUrl: {{ course.posterUrl  }}
  <br>
  videoUrl: {{ course.videoUrl  }}
  <br>
  datePublished: {{ course.datePublished  }}
  <br>
  tags: {{ course.tags  }}

</p>
