.btn-play {
    position:absolute;
    width:100%;
    top: 46px;
    font-size: 4em;
    opacity: .6;
    color: white;
    line-height:0
}

.linkbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

div.linkbar fa-icon {
    font-size: 1.5em;
    color: rgb(112, 112, 112)
}

.github {
    margin-top:6px; color: rgb(112, 112, 112)
}