<div class="page">
  <div class="page-content">

    <div class="page-body container">
      <h2>Velkommen til Video-Centralen</h2>
      <br><br>
      <p>
        Herover ser du to tabs "Introduktion" og "Vis Alle" - hvis du logger ind som Admin får du adgang til et tredie punkt
        "Opret".
      </p>
      <ul>
        <li>Introduktion: Video præsentation af sitet</li>
        <li>Vis Alle: Liste over alle tilgængelige videos - VÆR OPMÆRKSOM PÅ EN VIS VENTETID!!!</li>
        <li>Opret: Formular til oprettelse af nye video-poster</li>
      </ul>
    </div>
    <br>
    <button class="btn btn-outline-warning" type="button" (click)="seDemo()">Se Demo Af Sitet</button>

  </div>
</div>


