<div class="page">
  <div class="page-content">

    <div class="page-body container">
      <h1>Velkommen til Video-Centralen</h1>
      <p>
        Herover ser du to tabs "Introduktion" og "Vis Alle" - hvis du logger ind som Admin får du adgang til et tredie punkt
        "Opret".
      </p>
      <ul>
        <li>Introduktion: Video præsentation af sitet</li>
        <li>Vis Alle: Liste over alle tilgængelige videos - VÆR OPMÆRKSOM PÅ EN VIS VENTETID!!!</li>
        <li>Opret: Formular til oprettelse af nye video-poster</li>
      </ul>
    </div>

  </div>
</div>


