<div class="page">
  <div class="page-content">

    <div class="page-body">
      <h2>Login</h2>
      <br><br>
      <div class="login ng-light" *ngIf="!(isLoggedIn$ | async)">
        <form novalidate [formGroup]="loginForm" (ngSubmit)="save()">
          <div class="form-group">
            <label for="username">Username:</label>
            <input id="username" class="form-control" type="text" formControlName="username">
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input id="pass" class="form-control" type="password" formControlName="password">
          </div>
          <button class="btn btn-primary" type="submit">Log ind</button>
        </form>
      </div>
      
      <h2 *ngIf="isLoggedIn$ | async">Du er allerede logget ind</h2>
      
    </div>
  </div>
</div>
