/* You can add global styles to this file, and also import other style files */
html, body {
    background-color: #222222;
    margin: 0;
    padding: 0;
    
}

.body {
    top: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.side-bar {
    position: relative;
    background-color: black;
    width: 95px;
    min-width: 95px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    z-index:2;
}

.content {
    background-color:black;
    flex: 1;
}

.hamburger {
    position: absolute;
    top:  1em;
    left: 1em;
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 1;

}